body {
    background-color: #262737;
    color: #fff;
}

article h1 {
    text-align: center;
}

article p {
    text-align: justify;
}

article .boxPadding {
    border: solid yellowgreen;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.box {
    border: 1px solid #4caf50;
    padding: 70px;
}

.box2 .boxPadding {
    background-color: rgb(89, 0, 255);
    border: 3px solid #4caf50;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px; 
}

